header {
    background-image: url('../../../assets/img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;

    .trip-title {
        color: #fff;
        

        .description {
            margin: 32px 0;
        }
    }

    .flex-column {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    }


    .card {
        background-color: transparent;
    }

    .tab-card {
        border: none;
    }

    .tab-content {
        background-color: #646060;
        height: calc(100% - 110px);
        width: 100%;
        @media only screen and (min-width: 768px) {
            width: 500px;

        } 

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
        }
    }

    .nav-tabs .nav-item {
        margin-bottom: -3px!important;
        width: 24.33%;
    }

    .nav-tabs .nav-link.active {
        color: #ffffff;
        background-color: #4a4876;
        border-color: #dee2e6 #dee2e6 #fff;
        border: none!important;
    }

    .nav-item {
        background-color: transparent;
        .nav-link {
            background-color: #888181;
            color: #fff;
            font-size: 12px;
            padding: .5rem 3px;

            i {
                font-size: 12px;
            }
            @media only screen and (min-width: 768px) {
                font-size: 16px;
                padding: .5rem 1rem;

                i {
                    font-size: 16px;
                }
            } 
        }
        &:first-child {
            .nav-link {
                border-radius: 8px 0 0 0;
            }
        }
        &:last-child {
            .nav-link {
                border-radius: 0 8px 0 0;
            }
        }
    }

    .form-group {
        label { 
            color: #fff!important;
        }
        i {
            position: absolute;
            top: 13px;
            left: 12px;
            font-size: 14px;
        }
        .input-icon{
            padding-left: 28px;
        }
    }

    .card-header {
        background-color: transparent;
        padding: 0!important;


        ul { 
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .card-header-tabs {
            
            a { 
                &:hover {
                    background-color: #4a4876;
                }
            }
        }

    }


    .row-count {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .count-people {
            width: 100%;
            
            @media only screen and (min-width: 768px) {
                margin-right: 24px;
                width: 15%;
            } 
    
        }

        .person-content {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            width: 100%;
            
            @media only screen and (min-width: 768px) {
                margin-right: 0;
                width: calc(85% - 24px);
            } 
        }
        .person {
            align-items: end;
            background-color: #484343;
            color: #fff;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 8px;


            span {
                font-size: 12px;
                margin: 0 4px;
                line-height: 16px;
                @media only screen and (min-width: 768px) {
                    margin: 0;
                    max-width: 85px;
                    width: 16%;
                } 
            }

            span:first-child {
                width: 100%;
                @media only screen and (min-width: 768px) {
                    width: 16%;
                }
            }

            .person-title {
                width: 100%;
                @media only screen and (min-width: 768px) {
                    max-width: 85px;
                    width: 15%!important;
                } 
            }

            .person-label {
                width: 45%;
                @media only screen and (min-width: 768px) {
                    max-width: 85px;
                    width: 20%;
                } 
            }

            .form-group {
                margin: 0 0 8px;
                width: 45%;
                @media only screen and (min-width: 768px) {
                    height: 45px;
                    max-width: 85px;
                    width: 20%;
                } 
            }
        }
    }

    .btn {
        background-color: #4a4876;
        border-color: #4a4876;
        top: 10px;
        position: relative;
        &:hover,
        &:focus,
        &:active {
            background-color: #353456;
            border-color: #353456; 
        }
    }

    .radio-inline {
        color: #fff;
    }

    .more-options {
        background-color: #2E2E2E;
        border-radius: 4px;
        color: #fff;
        top: 0px;
        text-align: center;
        line-height: 13px;
        margin-bottom: 8px;
        height: 40px;
        padding: 5px;
        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    .footer-voo {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 18px;

        .input-date {
            width: 100%;
        }

        .voo-select {
            margin-bottom: 8px;
            width: 45%;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
                max-width: 30%;
            }
        }

        span {
            color: #fff;
            font-size: 10px;
            margin-bottom: 8px;
            width: 50%;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
                max-width: 50px;

            }
        }
    }

    #js-options-input {
        position: absolute;
        left: 520px;
        width: 280px;
        padding: 16px;
        background-color: #646060;

        .triangle {
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            position: absolute;
            left: -10px;
            border-right:10px solid #646060; 
        }
    }

}


