.filters {
    background-color: #F5F5F5;
    margin: 48px 0 0;
    @media only screen and (min-width: 768px) {
        margin: 48px 0;
    }

    .filter-title {
        color: $blue;
        border-bottom: 1px solid $blue;
        font-weight: bold;

    }
}

.search-result {
    margin-top: 48px;
}

.airline {

    .airline-link {
        color: #2196F3;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .airline-separator {
        height: auto;
        border: 1px solid #9E9E9E;
    }

}

.btn-select {
    color: #fff;
    background-color: #4a4876;
    border-color: #4a4876;
}

.rotate{
    transition: all 0.3s ease;
}

.rotate.down{
    transform: rotate(180deg);
}

.tripcard  {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    @media only screen and (min-width: 768px) {
        align-items: flex-start;
        flex-flow: row wrap;
    }
    .trip-info {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 40%;
        }
    }

    .trip-hour {
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 40%;
        }
    }

    .btn-card {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 100%;

        @media only screen and (min-width: 768px) {
            flex-flow: row wrap;
            justify-content: space-between;
            width: 20%;
        }
    }
}